<div class="tile">
  <figure class="tile_item"><img src="pikachu.png" height="296" width="296">
  </figure>
  <figure class="tile_item"><img src="squirtle.png" height="296" width="296">
  </figure>
  <figure class="tile_item"><img src="charmander.png" height="296" width="296">
  </figure>
</div>