<div class="tile">
  <figure class="tile_item"><img src="pikachu.png" height="296" width="296">
  PIKACHU</figure>
  <figure class="tile_item"><img src="squirtle.png" height="296" width="296">
  SQUIRTLE</figure>
  <figure class="tile_item"><img src="charmander.png" height="296" width="296">
  CHARMANDER</figure>
  <figure class="tile_item"><img src="mew.png" height="296" width="296">
  MEW</figure>
  <figure class="tile_item"><img src="piplup.png" height="296" width="296">
  PIPLUP</figure>
  <figure class="tile_item"><img src="togepi.png" height="296" width="296">
  TOGEPI</figure>
</div>